<div class="header">
	<div class="pure-menu pure-menu-horizontal">
		<ul class="pure-menu-list" style="width:100%">
			<a class="pure-menu-heading" href="">Towers</a>
			<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover right">
				<a href="#" id="menuLink1" class="pure-menu-link"><i class="fa fa-cog"></i></a>
				<ul class="pure-menu-children">
					<li class="pure-menu-item right-menu-item"><a href="#" class="pure-menu-link"><i class="fa fa-cog"></i> username</a></li>
					<li class="pure-menu-item right-menu-item"><a href="#" class="pure-menu-link"><i class="fa fa-cog"></i> gamename</a></li>
					<li class="pure-menu-item right-menu-item"><a href="#" class="pure-menu-link"><i class="fa fa-sign-out"></i> Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
