{% load staticfiles %}
{% load compress %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block 'title' %}Tower Defense{% endblock %}</title>
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="/static/project_static/css/pure-min.css">
	<link rel="stylesheet" type="text/css" href="/static/project_static/css/font-awesome.css">
	{% endcompress %}
	{% block 'stylesheets' %}{% endblock %}
</head>
<body>
	{% block 'header' %}
		{% include 'partials/header.html' %}
	{% endblock %}
	<main role="content">
		{% block 'content' %}{% endblock %}
	</main>

	{% compress js %}
	<script src="/static/project_static/js/jquery.js"></script>
	<script src="/static/project_static/js/snap.svg.js"></script>
	<script src="/static/project_static/js/svg-pan-zoom.js"></script>
	{% endcompress %}
	{% block 'javascripts' %}{% endblock %}
</body>
</html>
